<header class="main">
    
    <div>
        <nav class="menu">
            <ul class="menu-ul">
                <li>
                    <a href="#"><i class="fa-solid fa-bars"></i></a>

                    <ul class="menu-aba">
                        
                        <li class="menu-aba__contato"><a href="#">Contato</a></li>
                        <li class="menu-aba__sobre"><a href="#">Sobre</a></li>
                        <li class="menu-aba__fac"><a><i class="fa-solid fa-headphones"></i>FAC</a></li>
                        <li class="menu-aba__blog"><a href="#">Blog</a></li>

                    </ul>
                </li>
            </ul>

        </nav>
    </div>

    <div>
        <p class="menu-tecboo"><span class="menu-h1"> TecBoo <i class="fa-solid fa-ghost"></i></span></p>
    </div>

    <div class="pesquisa">
        <input type="text" placeholder="Pesquisar..." class="pesquisa-text">
        <button class="pesquisa-botao"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="bag">
        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
    </div>

</header>
