<footer class="rodape">
    <div>

        <div class="rodape-emcima">
            <div class="rodape-emcima__lado1">
               <h3>Receba ofertas exclusivas!</h3>
                <form action="/pagina-processa-dados-do-form" method="post" class="form">

                    <div>

                        <input type="text" id="name" placeholder="Nome " />

                    </div>

                    <div>

                        <input type="email" id="mail" placeholder="E-mail" />

                    </div>

                    <div>

                        <button type="submit" class="botao">Enviar</button>

                    </div>


                </form>
            </div>
            <div class="rodape-emcima__lado2">

                <h2>TecBoo <i class="fa-solid fa-ghost"></i> </h2>

                <div class="rodape-emcima__lado2--icons">

                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>

                </div>
            </div>
        </div>


    </div>

    <section class="rodape-embaixo">

     &copy; Todos os direitos reservados 2022 by Deys Rodrigues

    </section>
</footer>